:root {
    /* Backgrounds */
    --background-color: #121212;
    --section-background: #1E1E1E;
    --card-bg-left: #1E1E1E;
    --card-bg-right: #2A2A2A;

    /* Primary Colors */
    --primary-color: #BB86FC;
    --primary-hover: #A76BCF;

    /* Secondary Colors */
    --secondary-color: #3700B3;
    --secondary-hover: #4A00B3;

    /* Text Colors */
    --text-color: #E0E0E0;
    --subtext-color: #A1A1A1;
    --placeholder-color: #A1A1A1;
    --disabled-text-color: #A1A1A1;

    /* Borders */
    --border-color: #555555;
    --focus-border-color: #BB86FC;

    /* Buttons */
    --btn-disabled-bg: #555555;
    --btn-primary-bg: var(--primary-color);
    --btn-primary-text: #121212;
    --btn-secondary-bg: var(--secondary-color);
    --btn-secondary-text: var(--text-color);

    /* Error/Alert */
    --error-color: #CF6679;

    /* Inputs */
    --input-bg: #444444;
    --input-border: #555555;
    --input-focus-border: var(--focus-border-color);

    /* Line Below Headers */
    --header-line-color: var(--primary-color);
    --header-line-secondary-color: var(--secondary-color);

    --accent-color: #FF6F61;

    --alert-info-bg: #1E3A8A;
    --alert-info-border: #1C64F2;
    --alert-info-text: #FFFFFF;

    --alert-success-bg: #0F5132;
    --alert-success-border: #198754;
    --alert-success-text: #FFFFFF;

    --alert-warning-bg: #664D03;
    --alert-warning-border: #FFC107;
    --alert-warning-text: #FFFFFF;

    --alert-danger-bg: #8B0000;
    --alert-danger-border: #DC3545;
    --alert-danger-text: #FFFFFF;

}

::selection {
    background-color: var(--primary-color);
    color: var(--text-color); /
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-selection {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body {
    font-family: 'Inter', sans-serif !important;
}

#search_input_box .form-control {
    background-color: transparent !important;
    border: none !important;
    font-weight: 400 !important;
    font-size: 20px !important;
}

#search_input_box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.search_index{
    padding-top: 30px;
}

#search_input_box #close_search {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    padding-right: 0;
}

#search_input_box #close_search:hover {
    color: var(--error-color);
}


body {
    background-color: #121212;
    color: #FFFFFF;
}

.navbar {
    background-color: #1E1E1E !important;
    border-radius: 15px;
    width: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 auto;

}


.navbar-scrolled {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1400px) {
    .navbar {
        width: 100% !important;
    }
}




.navbar-item {
    margin: auto 4px;
}


.btn-primary {
    background-color: #BB86FC !important;
    border-color: #BB86FC !important;
    color: #FFFFFF !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #9C4DFF !important;
    border-color: #9C4DFF !important;
}

.btn-primary:active {
    background-color: #7A2DEB !important ;
    border-color: #7A2DEB !important;
    color: #FFFFFF !important;
}

.btn-secondary {
    background-color: #004D40 !important;
    border-color: #004D40 !important;
    color: #FFFFFF !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #00352E !important;
    border-color: #00352E !important;
    outline: none!important;
    color: #FFFFFF !important;
}

.btn-secondary:active {
    background-color: #00251D!important;
    border-color: #00251D !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}

.btn-success {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: #FFFFFF !important;
}

.btn-success:hover {
    background-color: #388E3C !important;
    border-color: #388E3C !important;
}

.btn-success:active {
    background-color: #2A6F2D !important;
    border-color: #2A6F2D !important;
    color: #FFFFFF !important;
}



.btn-outline-primary {
    background-color: transparent !important;
    border: 2px solid #BB86FC !important;
    color: #BB86FC !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: #BB86FC !important;
    color: #FFFFFF !important;
    border-color: #BB86FC !important;
}

.btn-outline-primary:active {
    background-color: #9C4DFF !important;
    color: #FFFFFF !important;
    border-color: #9C4DFF !important;
}

.btn-outline-secondary {
    background-color: transparent;
    border: 2px solid #03DAC6;
    color: #03DAC6;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
    background-color: #03DAC6;
    color: #000000;
    border-color: #03DAC6;
}

.btn-outline-secondary:active {
    background-color: #01B7A6 !important;
    color: #000000 !important;
    border-color: #01B7A6 !important;
}

.btn-outline-success {
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
    background-color: #4CAF50;
    color: #FFFFFF;
    border-color: #4CAF50;
}

.btn-outline-success:active {
    background-color: #388E3C !important;
    color: #FFFFFF !important;
    border-color: #388E3C !important;
}

.btn-outline-danger {
    background-color: transparent;
    border: 2px solid #CF6679 !important;
    color: #CF6679 !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
    background-color: #CF6679 !important;
    color: #FFFFFF !important;
    border-color: #CF6679 !important;
}

.btn-outline-danger:active {
    background-color: #B85263 !important;
    color: #FFFFFF !important;
    border-color: #B85263 !important;
}

.btn-outline-warning {
    background-color: transparent;
    border: 2px solid #FFB74D;
    color: #FFB74D;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus {
    background-color: #FFB74D;
    color: #000000;
    border-color: #FFB74D;
}

.btn-outline-warning:active {
    background-color: #FF8F33 !important;
    color: #000000 !important;
    border-color: #FF8F33 !important;
}

.btn-outline-muted {
    background-color: transparent;
    border: 2px solid #7A7A7A;
    color: #7A7A7A;
}

.alert-info {
    background-color: var(--alert-info-bg);
    border-color: var(--alert-info-border);
    color: var(--alert-info-text);
}

.alert-success {
    background-color: var(--alert-success-bg);
    border-color: var(--alert-success-border);
    color: var(--alert-success-text);
}

.alert-warning {
    background-color: var(--alert-warning-bg);
    border-color: var(--alert-warning-border);
    color: var(--alert-warning-text);
}

.alert-danger {
    background-color: var(--alert-danger-bg);
    border-color: var(--alert-danger-border);
    color: var(--alert-danger-text);
}

.text-muted{
    color: #b0b0b0 !important;
}

.btn-outline-muted:hover,
.btn-outline-muted:focus {
    background-color: #7A7A7A;
    color: #FFFFFF;
    border-color: #7A7A7A;
}

.btn-outline-muted:active {
    background-color: #666666 !important;
    color: #FFFFFF !important;
    border-color: #666666 !important;
}


.dropdown-menu {
    background-color: #1E1E1E !important;
    border: 1px solid #2C2C2C !important;
}

.dropdown-item {
    color: #FFFFFF !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #BB86FC !important;
    color: #FFFFFF !important;
}

.dropdown-item:active {
    background-color: #9C4DFF !important;
    color: #FFFFFF !important;
}

.dropdown-item.disabled {
    color: #7A7A7A !important;
}


.btn-dark {
    background-color: #2C2C2C !important;
    border-color: #1E1E1E !important;
    color: #FFFFFF !important;
}

.btn-dark:hover,
.btn-dark:focus {
    background-color: #BB86FC !important;
    border-color: #BB86FC !important;
    color: #FFFFFF !important;
}

.btn-dark:active {
    background-color: #9C4DFF !important;
    border-color: #9C4DFF !important;
    color: #FFFFFF !important;
}


.navbar-nav .nav-link {
    font-size: 20px;
    position: relative;
    color: #7A7A7A;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #BB86FC;
}

input[type="text"], input[type="password"], input[type="email"],input[type="number"] ,textarea{
    border: 1px solid #444444 ;
    background-color: #1E1E1E !important;
    color: #FFFFFF !important;
    transition: border-color 0.3s ease;
}

textarea{
    border: 1px solid #444444 !important; ;
}



input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus,input[type="number"]:focus {
    color: #FFFFFF !important;
    border-color: #BB86FC;
    background-color: #2A2A2A;
    outline: none;
    box-shadow: none !important;
}


input[type="text"].disabled, input[type="password"].disabled, input[type="email"].disabled, textarea.disabled {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #6c757d;
    pointer-events: none;
}
.form-control:focus + .form-label  {
    background-color: transparent !important;
}


::placeholder {
    color: #AAAAAA;
}

@media (min-width: 992px) {

    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }

    .navbar-nav .nav-link {
        margin-right: 0.9rem;
    }


    .navbar-nav .nav-link::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background: #BB86FC;
        left: 0;
        bottom: -6px;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .navbar-nav .nav-link:hover::after {
        transform: scaleX(1);
    }


    .navbar-nav .nav-link.active::after {
        transform: scaleX(1);
    }

    .navbar  .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        z-index: 1050;
    }
    .navbar .dropdown .dropdown-menu {
        display: none;
        z-index: 1050;
    }
    .navbar .dropdown:hover .dropdown-toggle::after {
        border-top: 0;
        border-bottom: 0.3em solid;
    }

}



.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}


.card {
    background-color: #1E1E1E;
    border: 1px solid #2C2C2C;
    color: #FFFFFF;
}


.card-header {
    background-color: #2C2C2C;
    border-bottom: 1px solid #BB86FC;
    color: #FFFFFF;
    font-weight: bold;
}


.card-body {
    background-color: #1E1E1E;
    color: #FFFFFF;
}


.card-footer {
    background-color: #2C2C2C;
    border-top: 1px solid #BB86FC;
    color: #7A7A7A;
}

.card a
{
    color: #BB86FC;
}

.card a:hover{
    color: #9C4DFF;
    text-decoration: underline;
}

.card .btn-danger {
    text-decoration: none;
    color: #FFFFFF;
}
.card .btn-danger:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-item {
    list-style: none;
}

.breadcrumb {
    background-color: #1E1E1E !important;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /
}

.breadcrumb-item {
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.breadcrumb-item a {
    color: #BB86FC;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #9C4DFF;
}

.breadcrumb-item.active {
    color: #FFFFFF;
    font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #BB86FC;
    clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
    margin: 0 10px;
}

.site-login{
    overflow: hidden !important;
}

.header-index {
    background-image: url('https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/239140/ss_488226f013287012e0feaed2fb7799dbe038fd00.1920x1080.jpg?t=1728908613');
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
    margin:  0;
}



.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, rgba(18, 18, 18, 0) 30%, rgba(18, 18, 18, 1) 95%),
    radial-gradient(circle at bottom, rgba(18, 18, 18, 0) 30%, rgba(18, 18, 18, 1) 80%);
    z-index: 2;
}

.header-content {
    position: relative;
    z-index: 2;
}


.full-width {
    width: 100%;
    position: relative;
    padding-top: 0 !important;
}

.footer{
    background-color: #1E1E1E !important;
    color: #FFFFFF !important;
}

.thumb {
    position:relative;
    display:inline-block;
    margin-bottom: 15px;
}

.thumb .overlay{
    position:absolute;
    top:0;
    left: 50%;
    right: 50%;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 500ms ease-in-out;
}

.thumb:hover .overlay{
    opacity:1;
}

.thumb:hover .img-thumbnail{
    background: #BB86FC !important;
}

.thumb:last-child {
    margin-bottom: 0;
}

.thumb
figure img {
    height: 350px;
}

.thumb .img-thumbnail {
    background: none !important;
    border: none !important;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.game-card {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.game-card:hover .center-buttons {
    display: flex;
}

.game-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    transition: border 0.3s ease;
}

.game-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    width: 150px;
    height: auto;
}

.game-card:hover {
    border: var(--focus-border-color) 3px solid;
}

.game-card:hover .center-links {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

.center-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    opacity: 1;
    background-color: transparent;
}

.game-card:hover .center-links a {
    opacity: 1;
    transition: all 0.3s ease;
}

.center-links a i {
    font-size: 2rem;
    margin-bottom: 8px;
}

.center-links a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    text-decoration: none;
}

.game-card:hover .center-links {
    opacity: 1;
}

.game-stats {
    text-align: center;
    color: white;
}

.game-stats span {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1.1rem;
}

.game-stats i {
    font-size: 1.5rem;
    margin-right: 8px;
}




.product__details__cart__option {
    margin-bottom: 25px;
}

.product__details__cart__option .quantity {
    display: inline-block;
    margin-right: 20px;
}


/*---------------------
  Shopping Cart
-----------------------*/

.shopping__cart__table {
    margin-bottom: 30px;
}

.shopping__cart__table table {
    width: 100%;
    border-collapse: collapse;
}

.shopping__cart__table table thead {
    border-bottom: 1px solid var(--border-color);
}

.shopping__cart__table table thead tr th {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
}

.shopping__cart__table table tbody tr {
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.shopping__cart__table table tbody tr:hover {
    background-color: #1e1e1e;
    transform: scale(1.02);
}

.shopping__cart__table table tbody tr td {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.shopping__cart__table table tbody tr td.cart__plataforma {
    width: 150px;
    text-align: center !important;
}

.shopping__cart__table table tbody tr td.product__cart__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 15px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic:hover {
    transform: scale(1.05);
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: left;
    margin-right: 30px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    margin-left: 30px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic:hover {
    transform: scale(1.05);
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
    overflow: hidden;
    padding-top: 21px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
    color: var(--primary-color);
    font-weight: 700;
}

.shopping__cart__table table tbody tr td.quantity__item {
    width: 175px;
    text-align: center;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 {
    width: 80px;
    margin: 0 auto;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 input {
    width: 50px;
    border: none;
    text-align: center;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 .qtybtn {
    font-size: 16px;
    color: var(--subtext-color);
    width: 10px;
    cursor: pointer;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 input:hover {
    background-color: #2b2b2b !important;
}

.shopping__cart__table table tbody tr td.cart__price {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    width: 140px;
    text-align: center;
}



.shopping__cart__table table tbody tr td.cart__close i {
    font-size: 18px;
    color: var(--error-color);
    height: 40px;
    width: 40px;
    background: var(--section-background);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shopping__cart__table table tbody tr td.cart__close i:hover {
    background-color: #f3f2ee;
    color: var(--error-color);
}

.continue__btn.update__btn {
    text-align: right;
}

.continue__btn.update__btn a {
    color: var(--text-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.continue__btn.update__btn a i {
    margin-right: 5px;
}

.continue__btn a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid var(--border-color);
    padding: 14px 35px;
    display: inline-block;
}

.cart__discount {
    margin-bottom: 10px;
}

.cart__discount h6 {
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.cart__discount form {
    position: relative;
}

.cart__discount form input {
    font-size: 14px;
    color: var(--subtext-color);
    height: 50px;
    width: 100%;
    border: 1px solid var(--border-color);
    padding-left: 20px;
    background-color: var(--input-bg);
}

.cart__discount form input::-webkit-input-placeholder {
    color: var(--subtext-color);
}

.cart__discount form input::-moz-placeholder {
    color: var(--subtext-color);
}

.cart__discount form input:-ms-input-placeholder {
    color: var(--subtext-color);
}

.cart__discount form input::-ms-input-placeholder {
    color: var(--subtext-color);
}

.cart__discount form input::placeholder {
    color: #b7b7b7;
}

.cart__discount form button {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--primary-color);
    padding: 0 30px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.cart__total {
    background: var(--section-background);
    padding: 35px 40px 40px;
}

.cart__total h6 {
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.cart__total ul {
    margin-bottom: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__total ul li {
    list-style: none;
    font-size: 16px;
    color: var(--subtext-color);
    line-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart__total ul li span {
    font-weight: 700;
    color: var(--primary-color);
    float: right;
}

.cart__total .primary-btn {
    display: block;
    padding: 12px 10px;
    text-align: center;
    letter-spacing: 2px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 100%;
}

.cart__total .primary-btn:hover {
    background-color: #9C4DFF;
}

.spad {
    padding-top: 50px;
    padding-bottom: 100px;
}

/*---------------------
  Footer
-----------------------*/

.footer {
    background: #1E1E1E !important;
    padding-top: 70px;
}

.footer a {
    text-decoration: none !important;
}

.footer__about {
    margin-bottom: 30px;
}

.footer__about .footer__logo {
    margin-bottom: 30px;
}

.footer__about .footer__logo a {
    display: inline-block;
}

.footer__about p {
    color: var(--subtext-color);
    margin-bottom: 30px;
}

.footer__widget {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__widget h6 {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.footer__widget ul {
    padding-left: 0;
}

.footer__widget ul li {
    line-height: 36px;
    list-style: none;
}

.footer__widget ul li a {
    color: var(--subtext-color);
    font-size: 15px;
}

.footer__widget .footer__newslatter p {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form {
    position: relative;
}

.footer__widget .footer__newslatter form input {
    width: 100%;
    font-size: 15px;
    color: var(--text-color);
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
}

.footer__widget .footer__newslatter form input::-webkit-input-placeholder {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form input::-moz-placeholder {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form input:-ms-input-placeholder {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form input::-ms-input-placeholder {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form input::placeholder {
    color: var(--subtext-color);
}

.footer__widget .footer__newslatter form button {
    color: var(--subtext-color);
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}

.footer__copyright__text {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}

.footer__copyright__text p {
    color: var(--subtext-color);
    margin-bottom: 0;
}

.footer__copyright__text p i {
    color: #e53637;
}

.footer__copyright__text p a {
    color: #e53637;
}

.btn-favorite.ativo {
    color: #F28123;
}

.btn-favorite:hover.ativo {
    color: #F59D53;
}

.btn-played.ativo {
    color: #03DAC5;
}

.btn-played:hover.ativo {
    color: #02A89C;
}

.btn-wishlist.ativo {
    color: #BB86FC;
}

.btn-wishlist:hover.ativo {
    color: #9C4DFF;
}

.btn-wishlist .btn-played  {
    color: var(--disabled-text-color);
}


.btn-favorite:focus, .btn-favorite:active,
.btn-played:focus, .btn-played:active,
.btn-wishlist:focus, .btn-wishlist:active {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



.pagination {
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 2%;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    color: var(--text-color);
    background-color: var(--section-background);
    border: 1px solid var(--border-color);
    padding: 10px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
}


.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
    color: var(--btn-primary-text);
    background-color: var(--primary-color);
    border-color: var(--primary-hover);
    outline: none;
}


.pagination .page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--btn-primary-text);
}


.pagination .page-item.disabled .page-link {
    color: var(--disabled-text-color);
    background-color: var(--section-background);
    border-color: var(--border-color);
    opacity: 0.6;
    cursor: not-allowed;
}


.pagination .page-item a:hover {
    color: var(--primary-color);
}

.pagination .page-item a:focus {
    box-shadow: none !important;
    outline: none !important;
    color: var(--primary-hover);
}


.pagination .page-item:first-child .page-link {
    border-left: 1px solid var(--border-color);
}

.pagination .page-item:last-child .page-link {
    border-right: 1px solid var(--border-color);
}

.form-select {
    background-color: var(--section-background);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
}


.form-select:focus {
    outline: none;
    border-color: var(--focus-border-color);
    box-shadow: 0 0 0 3px rgba(187, 134, 252, 0.5);
}


.form-select:hover {
    border-color: var(--primary-hover);
    background-color: var(--card-bg-left);
}

/* Disabled form-select */
.form-select:disabled {
    background-color: #333333;
    color: var(--disabled-text-color);
    cursor: not-allowed;
    border-color: var(--border-color);
}


.form-select option {
    background-color: var(--section-background);
    color: var(--text-color);
    padding: 10px;
}


.form-select option:hover {
    background-color: var(--primary-hover);
    color: var(--btn-primary-text);
}


.form-select:invalid {
    color: var(--placeholder-color);
    background-color: var(--section-background);
}


.form-select::after {
    content: "\f0d7";
    font-family: 'FontAwesome';
    color: var(--text-color);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
}

.form-select:focus::after {
    color: var(--focus-border-color);
}

.form-select:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}



.toast {
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Toast Body */
.toast-body {
    background-color: var(--section-background);
    color: var(--text-color);
    padding: 15px;
}

/* Toast Header */
.toast-header {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: var(--text-color);
}


.toast-success .toast-header {
    background-color: #2B9E3F;
    color: white;
}

.toast-success .toast-body {
    border-top: 1px solid #2B9E3F;
}


.toast-warning .toast-header {
    background-color: #FF9800;
    color: white;
}

.toast-warning .toast-body {
    border-top: 1px solid #FF9800;
}

    .toast-error .toast-header {
        background-color: #CF6679;
        color: white;
    }

    .toast-error .toast-body {
        border-top: 1px solid #CF6679;
    }

    .toast-info .toast-header {
        background-color: #0288D1;
        color: white;
    }

    .toast-info .toast-body {
        border-top: 1px solid #0288D1;
    }


    .toast .btn-close {
        color: white;
        opacity: 0.6;
    }

    .toast .btn-close:hover {
        opacity: 1;
    }

    .toast:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transform: translateY(-2px);
    }


    .toast {
        animation: toast-fade-in 0.3s ease-in-out;
    }

    @keyframes toast-fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .accordion {
        background-color: var(--section-background);
        border-radius: 5px;
        overflow: hidden;
    }

    .accordion-item {
        background-color: var(--section-background);
        border: none;
    }

    .accordion-header {
        color: var(--text-color);
        padding: 10px 15px;
        border-bottom: 1px solid var(--border-color);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .accordion-header:hover {
        background-color: var(--primary-hover);
    }

    .accordion-button {
        background-color: transparent;
        color: var(--text-color);
        font-size: 16px;
        padding: 10px 15px;
        border: none;
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--primary-color);
        color: var(--btn-primary-text);
    }

    .accordion-button::after {
        filter: invert(1);
    }

    .accordion-body {
        color: var(--text-color);
        padding: 15px;
    }

    .accordion-item.active .accordion-header {
        background-color: var(--primary-color);
        color: var(--btn-primary-text);
    }

    .accordion-collapse {
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid var(--border-color);
        border-radius: 50%;
        background-color: var(--section-background);
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s, border-color 0.3s;
    }

    input[type="radio"]:hover {
        border-color: var(--primary-hover);
    }

    input[type="radio"]:checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: var(--btn-primary-text);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="radio"]:focus {
        outline: none;
        box-shadow: 0 0 5px var(--focus-border-color);
    }

    /* Disabled State */

    input[type="radio"]:disabled {
        background-color: var(--input-bg);
        border-color: var(--border-color);
        cursor: not-allowed;
    }

    input[type="radio"]:disabled::after {
        background-color: var(--disabled-text-color);
    }

    .navbar-toggler {
        border: 0 !important;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
        border: 0 !important;
    }

    .chart-container {
        width: 100%;
        margin: 0 auto;
    }

    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid var(--primary-color) !important;
    }


    .header-left h3 {
        margin: 0;
        font-size: 20px;
    }

    .header-right {
        color: var(--disabled-text-color);
        font-size: 14px;
    }

    .num-avaliacoes {
        font-weight: bold;
        font-size: 16px;
    }


    .modal-content {
        background-color: var(--card-bg-left);
        color: #E0E0E0;
        border-radius: 8px;
    }


    .modal-header {
        background-color: var(--card-bg-right);
        color: #E0E0E0;
        border-bottom: 1px solid #2C2C2C;
    }


    .modal-body {
        color: #E0E0E0;
    }


    .btn-close:focus {
        box-shadow: none;
        border-color: transparent;
    }

    .popular .section-title {
        font-size: 2rem;
        color: #E0E0E0;
        text-transform: uppercase;
        border-bottom: 2px solid var(--primary-color);
        display: inline-block;
        padding-bottom: 0.5rem;
    }

    .popular .game-card {
        background-color: #1E1E1E;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .popular .game-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .popular .modern-shadow {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .sidebar {
        background-color: #1E1E1E;
        color: var(--text-color);
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 300px;
    }

    .sidebar h5 {
        font-size: 18px;
        color: var(--disabled-text-color);
        margin-bottom: 16px;
    }


    .jogo-search .form-select {
        padding: 6px 12px !important;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--text-color);
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }


    .jogo-search .form-select:focus {
        background-color: #2C2C2C;
        border-color: var(--focus-border-color) !important;
        box-shadow: 0 0 0 1px var(--focus-border-color) !important;
        outline: none !important;
    }

    .jogo-search .form-select:hover {
    }


    .jogo-search option {
        background-color: #2C2C2C;
        color: var(--text-color);
    }


    .jogo-search .form-select:hover {
        border-color: var(--primary-color);
    }

    .game-grid .sidebar {
        border-radius: 8px;
        border: 1px solid var(--border-color);
    }



    .game-grid .form-select {
        border-radius: 0.5rem;
        margin-bottom: 15px;
    }


    .game-grid .card-link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .game-grid .card-link:hover {
        text-decoration: none;
    }


    @media (max-width: 992px) {
        .game-grid .sidebar {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 768px) {
        .game-grid .sidebar {
            max-width: 100%;
        }
    }

    .game-grid .sidebar .btn {
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
        padding: 8px;
    }


